* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.unit-container-box {
  margin: auto;
  height: 100%;
}

.Nav-unit {
  border: 2px solid green;
  height: 50px;
  background-color: #006633;
  display: flex;
  justify-content: space-evenly;
}

.Nav-unit > div > h1 {
  color: #fff;
  font-size: 1.9rem;
  margin-top: 9px;
  font-weight: 500;
}

.Nav-unit > div > h1 span {
  color: rgb(46, 202, 46);
}

/* --------  converter css ----------- */

.convert-bag {
  height: 450px;
}

.convert-bag > h2 {
  margin-top: 45px;
  margin-left: 185px;
  color: #006633;
}

/* ------ convert length -------- */

.convert-length {
  border: 1px solid green;
  height: 400px;
  width: 70%;
  margin-top: 20px;
  margin-left: 85px;
  background-color: #eeeeee;
  display: flex;
  justify-content: space-around;
}

.convert-from > h2 {
  margin-bottom: 10px;
  margin-top: 10px;
}

.convert-from > input {
  height: 40px;
  width: 25vw;
  border-radius: 5px;
  margin-bottom: 10px;
}

.convert-to > h2 {
  margin-bottom: 10px;
  margin-top: 10px;
}

.convert-to > input {
  height: 40px;
  width: 250px;
  border-radius: 5px;
}

/* -------- Form list --------- */

.from-list {
  border: 2px solid gray;
  height: 300px;
  margin-top: 5px;
  scroll-behavior: smooth;
  overflow: scroll;
}

.from-list > h3 {
  margin-top: 5px;
}

.from-to {
  border: 2px solid gray;
  height: 300px;
  margin-top: 5px;
  scroll-behavior: smooth;
  overflow: scroll;
}

.from-to > h3 {
  margin-top: 5px;
}

.from-list > h3:hover {
  background-color: rgb(202, 190, 190);
}

.from-to > h3:hover {
  background-color: rgb(202, 190, 190);
}

/* ---------- result  -------------  */

#result {
  border: 2px solid red;
  width: 60%;
  margin: auto;
  height: 40px;
  margin-left: 85px;
}

/* -----------  To Kilo  ------------  */

#kilometer {
  border: 2px solid black;
  height: 39px;

   color: rgb(201, 54, 54);
  font-weight: 600;
  width: 25vw;
  border-radius: 5px;
  margin-bottom: 10px;
}
#kilometer-2 {
  border: 2px solid black;
  height: 39px;
  width: 25vw;
  border-radius: 5px;
  margin-bottom: 10px;
   color: rgb(201, 54, 54);
  font-weight: 600;
}
#kilometer-3 {
  border: 2px solid black;
  height: 39px;
  width: 25vw;
  border-radius: 5px;
  margin-bottom: 10px;
   color: rgb(201, 54, 54);
  font-weight: 600;
}
#kilometer-4 {
  border: 2px solid black;
  height: 39px;
  width: 25vw;
  border-radius: 5px;
  margin-bottom: 10px;
   color: rgb(201, 54, 54);
  font-weight: 600;
}

#gallons {
  border: 2px solid black;
  height: 39px;
  width: 25vw;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 1.2rem;
  color: rgb(201, 54, 54);
  font-weight: 600;
}
#litre {
  border: 2px solid black;
  height: 39px;
  width: 25vw;
  border-radius: 5px;
  margin-bottom: 10px;
   color: rgb(201, 54, 54);
  font-weight: 600;
}
#Pounds {
  border: 2px solid black;
  height: 39px;
  width: 25vw;
  border-radius: 5px;
  margin-bottom: 10px;
   color: rgb(201, 54, 54);
  font-weight: 600;
}
#kilos {
  border: 2px solid black;
  height: 39px;
  width: 25vw;
  border-radius: 5px;
  margin-bottom: 10px;
   color: rgb(201, 54, 54);
  font-weight: 600;
}
